<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chat.css') }}">
	</head>
	<body>
		{% for entrie in entries %}
		{% if session.username == entrie.username %}
		<div class="selfPost speech-bubble-right" style="margin-left: 30px;">
			<div class="head">{{entrie.username}}</div>
			<div class="content">{{entrie.content}}</div>
			<div class="foot">{{entrie.ctime|formatdatetime}}</div>
		</div>
		{% else %}
		<div class="foreignPost speech-bubble-left" style="margin-right: 30px;">
			<div class="head">{{entrie.username}}</div>
			<div class="content">{{entrie.content}} {{session.username}}</div>
			<div class="foot">{{entrie.ctime|formatdatetime}}</div>
		</div>
		{% endif%}
		{% endfor %}
		<a href="#head"></a>
		<script>
			window.scrollTo(1,document.body.scrollHeight);
  		</script>
	</body>
</html>