{% extends "layout.html" %}
{% block body %}
<style>@import url("{{ url_for('static', filename='workspace.css') }}");</style>
<style>@import url("{{ url_for('static', filename='chat.css') }}");</style>
<div id="nav"></div>
<div id="main" class="clearfix">
	<div id="chats">
		
	</div>
	
	<div id="workspace">
		<div id="objectsBar">
			<div class="objectTab" id="dropFile" ondragover="allowDrop(event)"><div class="object hidden" id="dropFileObject">+<progress id="UploadBar" value="22" max="1000"></progress></div></div>		
		</div>		
		<div id="chat">
			Select a chat or create one
		</div>
		<div id="post" class="clearfix hidden">
			<input type="text" name="post" id="postField">
			<button id="sendButton" onclick="sendPost()">>></button>
		</div>
	</div>
	<div id="preview" class="clearfix">
		<button id = "previewCloseButton">X</button>
<!--	<embed src="https://drive.google.com/viewerng/viewer?embedded=true&url=https://web-utils.ml/uploads/test.pdf" width="100%" height="100%">-->
		<object id="previewFrame" data = "files/fritzAttack.pdf" align = middle>NO preview available</object>
	</div>
</div>

{% endblock %}