{% extends "layout.html" %}
{% block body %}
<style>@import url("{{ url_for('static', filename='workspace.css') }}");</style>
<style>@import url("{{ url_for('static', filename='chat.css') }}");</style>
<div id="nav"></div>
<div id="main" class="clearfix">
	<div id="chats">
		
	</div>
	
	<div id="workspace">
		<div id="objectsBar">
			<div class="objectTabActive"><div class="object">file 1</div></div>
			<div class="objectTab"><div class="object">file 2</div></div>
			<div class="objectTab"><div class="object">file 3</div></div>
			<div class="objectTab"><div class="object">file 4</div></div>
			<div class="objectTab"><div class="object">file 5</div></div>		
		</div>		
		<div id="chat">
			Select a chat or create one
		</div>
		<div id="post" class="clearfix">
			<input type="text" name="post" id="postField">
			<button id="sendButton" onclick="submitChat()">>></button>
		</div>
	</div>
	<div id="preview" class="clearfix">
<!--	<embed src="https://drive.google.com/viewerng/viewer?embedded=true&url=https://web-utils.ml/uploads/test.pdf" width="100%" height="100%">-->
<!--		<iframe src="https://web-utils.ml/uploads/test.pdf" height="375" width="500"></iframe>-->
	</div>
</div>


{% endblock %}