* {
	margin: 0px;
	padding: 0;
}

dt {
	text-align: left;
}

#chats {
	width: 18%;
	min-width: 170px;
	max-width: 300px;
	height: 90%;
	background: white;
	border: black solid 5px;
	display: block;
	text-align: left;
	display: inline-block;
	overflow: hidden;
	margin-bottom: 25px;
}

#preview {
	width: 35%;
	border: black solid 5px;
	height: 97%;
	display: inline-block;
	background-color: burlywood;
	margin-left: 10px;
	margin-bottom: 0;
	overflow-x: hidden;
}

#wrapper {
	width: 98%;
	height: 100%;
	background: transparent;
	margin: 25px auto;
	border: black solid 5px;
	border-bottom: transparent;
	text-align: center;
	padding-bottom: 0;
	white-space: nowrap;
	
}

#header {
	width: auto;
	height: auto;
	background: blue;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	border-bottom: black solid 5px;
}

#header div.label {
	height: auto;
	background: transparent;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	padding: 5px 10px;
	
}

#header div.option {
	height: auto;
	margin: 0;
	color: red;
	border-left: solid black;
	text-align: center;
	text-decoration: none;
	padding: 5px 10px;
	display: inline-block;
	float: right;
	
}

#nav {
	width: auto;
	height: auto;
	background: yellow;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	border-bottom: black solid 5px;
	text-align: center;
}

#main {
	width: auto;
	height: 75%;
	background: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	text-align: left;
	padding: 10px;
	padding-right: 20px;
	background-color: aquamarine;
	overflow-x: auto;
	white-space: nowrap;
	
}

div.flash {
	background: red;
	border-width: 10px 30px;
	border-style: solid;
	border-color: red;
	margin-bottom: 10px;
	margin-top: 10px;
}

html {
	background: url("freedom.jpg") no-repeat center center fixed; 
	background-size: cover;
	background-color: grey;
	height: 100%;

}

#footer {
	width: auto;
	height: auto;
	background: green;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	padding: 50px 10px;
	border-bottom: black solid 5px;
	text-align: center;
}

/*.avoidWrap {
	display: inline-block;
	white-space: nowrap;
	overflow-x: hidden;
}*/

body {
	height: 100%;
}

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
/*Patch for IE7*/
*:first-child+html .clearfix {min-height: 0;}
