* {
	margin: 0px;
	padding: 0;
}

dt {
	text-align: left;
}

#workspace {
	width: auto;
	height: auto;
	background: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	padding: 50px 10px;
	border-width: 5px;
	border-style: solid;
	border-color: black;
	border-radius: 25px;
	text-align: center;
	background-color: red;
	
	display: inline-block;	
	
}


#header div.option {
	height: auto;
	margin: 0;
	color: red;
	border-left: solid black;
	text-align: center;
	text-decoration: none;
	padding: 5px 10px;
	display: inline-block;
	float: right;
	
}

#header div.label {
	height: auto;
	background: transparent;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	padding: 5px 10px;
	
}


#wrapper {
	width: 98%;
	height: auto;
	background: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	border-width: 5px;
	border-style: solid;
	border-color: black;
	text-align: center;
	
}

#header {
	width: auto;
	height: auto;
	background: blue;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: black;
	/*display: flex;
	flex-flow: row-reverse;
	flex-direction: row-reverse;
	text-align: center;*/
}

#nav {
	width: auto;
	height: auto;
	background: yellow;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: black;
	
	/*display: flex;
	flex-flow: row-reverse;
	flex-direction: row-reverse;*/
	text-align: center;
}

#chats {
	width: auto;
	height: auto;
	background: white;
	margin-left: 10px;
	/*margin-right: auto;*/
	margin-top: 0;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: black;
	
	display: inline-block;
	text-align: left;
}

#footer {
	width: auto;
	height: auto;
	background: green;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	padding: 50px 10px;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: black;
	text-align: center;
}

#main {
	width: 95%;
	height: auto;
	background: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	padding: 50px 10px;
	border-width: 5px;
	border-style: solid;
	border-color: black;
	border-radius: 25px;
	text-align: center;
	clear: both: /*caution*/
	display: inline-block;
	
	
}



div.flash {
	background: red;
	border-width: 10px 30px;
	border-style: solid;
	border-color: red;
	margin-bottom: 10px;
	margin-top: 10px;
}


html {
	/* background: url("freedom.jpg") no-repeat center center fixed; 
	background-size: cover;*/
	background-color: grey;

}

h1#welcome {
	text-align: center;
	margin-top: 5%;
	font: bold 6em arial, sans-serif;
}

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
/*Patch for IE7*/
*:first-child+html .clearfix {min-height: 0;}